body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    align-items: flex-start;
    /* align-content: space-around; */
    /*padding-left: 2%;
    padding-right: 2%;*/
}

.card {
    max-width: 23%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
}

.poster {
    max-width: 265px;
    max-height: 360px;
}

.release {
    float: right;
    color: #EEEEEE;
    background-color: #333333;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 4px;
    display: inline-block;
    width: 34px;
    text-align: center;
    margin-top:  3px;
    
}

.movie-title {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    width: 80%;
}

.add {
    margin-top: 1em;
}
